<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books - Home  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<body class="h-100">
  <header>
  </header>
  <main class="h-100">
    <div class="container-fluid container-xxl pt-3 py-pd-4 h-100">
        <ul class="list-group">
            <a href="/books/" class="list-group-item list-group-item-action">Books</a>
            <a href="/fantasy/" class="list-group-item list-group-item-action">Fantasy</a>
            <a href="/fiction/" class="list-group-item list-group-item-action">Fiction</a>
            <a href="/romance/" class="list-group-item list-group-item-action">Romance</a>
            <a href="/humor/" class="list-group-item list-group-item-action">Humor</a>
            <a href="/nonfiction/" class="list-group-item list-group-item-action">Nonfiction</a>
            <a href="/biography/" class="list-group-item list-group-item-action">Biography</a>
            <a href="/history/" class="list-group-item list-group-item-action">History</a>
            <a href="/poetry/" class="list-group-item list-group-item-action">Poetry</a>
            <a href="/cookbook/" class="list-group-item list-group-item-action">Cookbook</a>
            <a href="/adventure/" class="list-group-item list-group-item-action">Adventure</a>
            <a href="/rating/" class="list-group-item list-group-item-action">Rating >= 4</a>

        </ul>
    </div>
  </main>
  <footer>
  </footer>
</body>

</html>